body {
    text-align: center;
    

}

h1 {

    font-size: 40px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 300;

}

#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;

}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#games{
    width: 100%;
    height: 400px;
    background-color:burlywood;
    
}
img {
transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}
#Chatbot{
    width: 100%;
    height: 800px;
    background-color:lightcoral;

}